<table class="table">
    <thead>
        <tr>
            {% for column in columns %}
                <th>
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for name, stat in jobs %}
        <tr>
            {% for name in columns %}
                {% if name == "id" %}
                    <th scope="row">
                        <a href="{{ path('disque_admin_job_show', {'id': stat[name], 'prefix': prefix}) }}">
                            {{ stat[name]  }}
                        </a>
                    </th>
                {% else %}
                    <td>{{ stat[name] | join(', ') }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
