<table class="table table-sm">
    {% for name, value in show %}
        <tr>
            <th scope="row">{{ name }}</th>
            <td>{{ value | join(', ') }}</td>
        </tr>
    {% endfor %}
</table>
