{% extends '@disque_admin/layout.html.twig' %}
{% block content %}
    <h2>Jobs</h2>

    {% if jobs %}
        {% include '@disque_admin/job/_allShowTable.html.twig' with {'jobs': jobs, 'columns': columns, prefix: prefix} %}
    {% endif %}
{% endblock %}
