{% extends '@disque_admin/layout.html.twig' %}
{% block content %}
    <h2>Job: <code>{{id}}</code></h2>

    <div class="row">
        <div class="col-md-4 push-md-8">
            <h4>Details</h4>

            {% include '@disque_admin/job/_showTable.html.twig' with { 'show': show } %}
        </div>

        <div class="col-md-8 pull-md-4">
            <pre><code>{{ body }}</code></pre>
        </div>
    </div>
{% endblock %}
