{% extends '@disque_admin/layout.html.twig' %}
{% block content %}
    <h2>Nodes</h2>

    <div class="row">
        <div class="col">
            {{ render(controller('disque_admin.controller.node:tableComponent', {prefix: prefix})) }}
        </div>
    </div>
{% endblock %}
