{% extends '@disque_admin/layout.html.twig' %}
{% block content %}
    <h2>Queues</h2>

    {% if queues %}
        {% include '@disque_admin/queue/_allStatTable.html.twig' with {'queues': queues, 'columns': columns} %}
    {% endif %}
{% endblock %}
