{% extends '@disque_admin/layout.html.twig' %}
{% block content %}
    <h2>Queue: <code>{{name}}</code></h2>

    <div class="row">
        <div class="col-md-4 push-md-8">
            <h4>Stats</h4>

            {% include '@disque_admin/queue/_statTable.html.twig' with { 'stat': stat } %}
        </div>

        <div class="col-md-8 pull-md-4">
            <h4>Jobs</h4>

            {% include '@disque_admin/queue/_jobList.html.twig' with { 'jobs': jobs } %}
        </div>
    </div>
{% endblock %}
